*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
height: 100%;
 width: 100%
}
header{
    height: 100px;
    width: 100vw;
    background: linear-gradient(120deg, #1a394e, #2b073a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
}
header h2{

    color: rgb(85, 173, 77);
    
    
}
#playlist-img, #music-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
 }   
main{
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgb(8, 22, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: left;
    gap: 20px;
}
.song-image{
    width: 280px;
    height: 280px;
    background-image: url("image1.png");
     border-radius: 50%;
    background-size: cover;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px black ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.volume-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

}
#volume-range{
    appearance: none;
    -webkit-appearance: none;
    width: 40%;
    height: 5px;
    background: linear-gradient( to right, #27ae60, #1e3929);
    border-radius: 10px;
      box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);


}
#volume-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #133923;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.2s;
      box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);

}
#volume-range::-webkit-slider-thumb:hover{
    transform: scale(120%);
}
.volume-img{
    width: 50px;
    height: 50px;
    background-color:transparent;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.details{
    width: 80%;
    height: 100px;
    background: transparent;
     box-shadow: 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}
#song-name{
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}
#song-artist{
    color: rgb(180, 180, 180);
    font-size: 18px;
    margin-top: 5px;
}
#song-duration{
      appearance: none;
      -webkit-appearance: none;
    width: 60%;
    height: 5px;
    /*made the background a gradient with two color*/
    background: linear-gradient( to right, #27ae60, #1e3929);
    border-radius: 10px;
      box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);

}
#song-duration::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #133923;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.2s;
      box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);

}
.control{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.previous-img, .play-img, .next-img{
    width: 50px;
    height: 50px;
    background-color:transparent;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 20px;
}
.previous-img:hover, .play-img:hover, .next-img:hover{

  box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);
  transform: scale(80%);

}
#play-img, #next-img, #previous-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#musicanime{
    position: absolute;
    width: 100px;
    filter: drop-shadow(2px 4px 10px rgb(103,190,214));
    display: none;
}
.playlist{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.311);
    left: 0;
    backdrop-filter: blur(10px);
    transform: translate(-100%);
    transition: all 0.5s;
    box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.playlist-active{
    transform: translateX(0%);
}
.playlist-song{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgba(240, 248, 255, 0.171);
    gap: 10px;
}
.playlist-song:hover{
    background-color: rgba(34, 121, 175, 0.299);
    cursor: pointer;
}
.playlist-song img{
    width: 80px;
    border-radius: 0px 20px 20px 0px;
    box-shadow:inset 2px 2px 10px rgba(0,0,0,0.8) , -2px -2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8), -2px 2px 10px rgba(0,0,0,0.8);

}
.playlist-song h2{
    color: rgba(227, 198, 198, 0.577);
}
.playlist-song h5{
    color: rgba(50, 143, 101, 0.426);
}
.song-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}
#playlist-img{
    transition: transform 0.3s;
    cursor: pointer;
}
@media (max-width:900px){
    .playlist{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
      
    }
    .song-image{
        width: 60vw;
        height: 60vw;
        margin-top: 20px;
    }

}